{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% block full-width %}
<div class="full-width" id="team">
  <div class="inner">
    <div class="article-info-oneline">
      <h1>О Проекте</h1>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="content">
  <aside class="aside-right">
    <div class="project-page-links">
      <span>Профили в соц.сетях</span>
      <br>
      <br>
      <a href="http://vk.com/2bvolonteer">Вконтакте</a><br>
{#      <a href="#">Twitter</a><br>#}
      <a href="http://www.facebook.com/2bvolonteer">Facebook</a><br>
    </div>
  </aside>
  <div class="content-block content-right">
    <div class="about-text">
      <h1>Что такое I help U?</h1>
      <p>I help U — это интернет-журнал об обществе, благотворительности и социальных изменениях в нашем городе. С его помощью вы сможете узнать о волонтерской активности и важных благотворительных мероприятиях.</p>
      <h1>Наши цели:</h1>
      <ul>
        <li>поиск альтернативного взгляда на проблемы в волонтерской среде;</li>
        <li>создание возможностей для развития некоммерческой активности в нашей стране;</li>
        <li>новые идеи в сфере бескорыстной взаимопомощи.</li>
      </ul>
      <p>Портал I help U создан при партенрстве Ярмарки Волонтерских Вакансий и проекта Дизайн2020.</p>
    </div>
  </div>
</div>
<div class="content content-bottom">
  <aside class="aside-right" id="btn" style="visibility: hidden;">
    <a href="" class="btn-white">команда проекта</a>
  </aside>
  <hr>
  <div class="content-block content-right">
    <div class="project-page-contacts">
      <div class="about-text">
        <h1>Контакты</h1>
        <p>Организационные вопросы:<br/>
          Ольга Фогельсон <a href="mailto:olga.fogelson@i-help-u.ru">olga.fogelson@i-help-u.ru</a><br/>
          +7 (905) 274 36 67
        </p>
        <p>Работа с волонтерами и организациями:<br/>
          <a href="mailto:volunteer@i-help-u.ru">volunteer@i-help-u.ru</a>
        </p>
        <p>Технические вопросы:<br/>
          <a href="mailto:support@i-help-u.ru">support@i-help-u.ru</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
