{% extends 'base.html' %}
{% block title %}Команда{% endblock %}
{% block full-width %}
<div class="full-width" id="team">
  <div class="inner">

    <div class="org-info article-info article-info-oneline">
      <h1>Команда проекта</h1>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="content">
  <div class="content-center">
    <a href="{% url 'about' %}" class="go-back-article">НАЗАД</a>

    <div class="article-text">

      <h1>Команда</h1>

      <p>Мы пилотируем и реализуем масштабные социальные проекты. Ведем исследовательскую и научную деятельность,
        основанную на идее Экономики заслуг.</p>

    </div>
    <div class="team">
      <div class="teammate">
        <img src="/static/img/mate1.jpg">

        <h1>Валерий Смирнов</h1>

        <div class="socials">
          <a href="#"><img src="/static/img/twitter.png" alt=""></a>
          <a href="#"><img src="/static/img/fb.png" alt=""></a>
          <a href="#"><img src="/static/img/vk.png" alt=""></a>
        </div>
      </div>
      <div class="teammate">
        <img src="/static/img/mate2.jpg">

        <h1>Анна Верниловская</h1>

        <div class="socials">
          <a href="#"><img src="/static/img/fb.png" alt=""></a>
          <a href="#"><img src="/static/img/vk.png" alt=""></a>
        </div>
      </div>
      <div class="teammate">
        <img src="/static/img/mate3.jpg">

        <h1>Федор Непомнящий</h1>

        <div class="socials">
          <a href="#"><img src="/static/img/twitter.png" alt=""></a>
          <a href="#"><img src="/static/img/fb.png" alt=""></a>
          <a href="#"><img src="/static/img/vk.png" alt=""></a>
        </div>
      </div>
      <div class="teammate">
        <img src="/static/img/mate456.jpg">

        <h1>Валерий Смирнов</h1>

        <div class="socials">
          <a href="#"><img src="/static/img/twitter.png" alt=""></a>
          <a href="#"><img src="/static/img/fb.png" alt=""></a>
          <a href="#"><img src="/static/img/vk.png" alt=""></a>
        </div>
      </div>
      <div class="teammate">
        <img src="/static/img/mate456.jpg">

        <h1>Валерий Смирнов</h1>

        <div class="socials">
          <a href="#"><img src="/static/img/twitter.png" alt=""></a>
          <a href="#"><img src="/static/img/fb.png" alt=""></a>
          <a href="#"><img src="/static/img/vk.png" alt=""></a>
        </div>
      </div>
      <div class="teammate">
        <img src="/static/img/mate456.jpg">

        <h1>Валерий Смирнов</h1>

        <div class="socials">
          <a href="#"><img src="/static/img/twitter.png" alt=""></a>
          <a href="#"><img src="/static/img/fb.png" alt=""></a>
          <a href="#"><img src="/static/img/vk.png" alt=""></a>
        </div>
      </div>
    </div>
{#    <div class="vacancy-list recommended">#}
{#      <hr>#}
{#      <h2>Вакансии проектной группы</h2>#}
{##}
{#      <div class="org-vacancies">#}
{#        <a href="#">#}
{#          <h1>Система сбора и распределения гуманитарной помощи</h1>#}
{#        </a>#}
{#      </div>#}
{#      <div class="org-vacancies">#}
{#        <a href="#">#}
{#          <h1>Ответвенность моральных принципов и важность принятия решения</h1>#}
{#        </a>#}
{#      </div>#}
{#      <div class="org-vacancies">#}
{#        <a href="#">#}
{#          <h1>Ответвенность моральных принципов и важность принятия решения</h1>#}
{#        </a>#}
{#      </div>#}
{#      <hr>#}
{#    </div>#}
  </div>
</div>
{% endblock %}
