{% for object in object_list %}
  <div class="article">
    <h1><a href="{% url 'article' object.id %}">{{ object.title }}</a></h1>
    <p><a href="{% url 'article' object.id %}">{{ object.summary }}</a></p>
    <hr {% if forloop.last %}class="last-line" style="visibility: hidden;"{% endif %}>
  </div>
{% endfor %}
{% if page_obj.has_next %}<button class="btn-load-more" onclick="loadMore(this)" data-load-url="{% url 'magazine' %}"
                                  data-next-page="{{ page_obj.next_page_number }}" {% if page_obj.link_postfix %}data-link_postfix="{{ page_obj.link_postfix|iriencode }}"{% endif %}>ЗАГРУЗИТЬ ЕЩЁ</button>{% endif %}
