{% autoescape off %}
  {{ user }} (http://{{ domain }}{% url 'account:profile_show' user.id %}) откликнулся на вакансию {{ vacancy }} (http://{{ domain }}{% url 'vacancy_detail' vacancy.id %}).
  Его контакты:
  email - {{ user.email }}
  {% if user.phone_number %}телефон - {{ user.phone_number }}{% endif %}
  Волонтер ожидает, что вы с ним свяжетесь в ближайшее время.
  Нам важно, чтобы между организациями и волонтерами с самого начала правильно выстраивались отношения. Поэтому просим вас отправить на почту volunteer@i-help-u.ru  письмо с подтверждением того, что вы связались с волонтером. Огромное спасибо!
  Письмо было продублировано на почту администрации сайта.
{% endautoescape %}
